.art_man{
    margin-top: 0px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    align-content: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 55vw;
    background: white;
    border-radius: 0.2vw;
    position: relative;
}

.ent_text{
    text-align: left;
    width: 300px;
}
.add_header{
    font-size: 32px;
}

.list_a:hover{
    color: #2574A9;
}

.top_icons i{
    color: #2574A9;
    font-size: 20px;
    padding: 4px;
}

.top_icons i:hover{
    color: #11157f;
}

.art_man input {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", serif;
    font-size: 0.8vw;
    font-weight: bold;
    border: 0;
    border-radius: 0.3vw;
}

.art_man [type='text'],.art_man [type='number'] {
    font-weight: 500;
    padding-left: 0.4vw;
    width: 150px;
    font-size: 14px;
    background: rgb(242, 242, 242);
}

.add_pult{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.add_button{
    color: white;
    background: #2574A9;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", serif;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    border-radius: 4px;
    width: 200px;
    height: 32px;
    margin: 0 1vw;
}

.add_button:hover{
   background: #11157f;
}

.add_perpult{
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.add_perpult div{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", serif;
    font-size: 20px;
    padding-right: 8px;
    font-weight: bold;
}

.hid{
    display: none;
}

.art_man select{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", serif;
    font-weight: bold;
    border: 0;
    border-radius: 0.3vw;
    padding-left: 0.4vw;
    width: 150px;
    font-size: 0.6vw;
    background: rgb(242, 242, 242);
    height: 32px;
}
.art_man option{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", serif;
    font-weight: bold;
    border: 0;
    border-radius: 0.3vw;
    padding-left: 0.4vw;
    width: 7.5vw;
    font-size: 0.6vw;
    background: rgb(242, 242, 242);
}

.art_man textarea{
    border-color: #d0d0d0;
    border-radius: 2px;
    width: 150px;
    height: 32px;
    resize: none;
}

.add_header{
    width: 50vw;
    margin: 0;
}


