.cab_profile{
 display: flex;
 flex-direction: row;
    position: relative;
}

.cab_avatar{
    background: gray;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    margin-right: 3%;
}

.cab_info{
    width: 50%;
    padding: 2vw 0 0 0vw;
    display: flex;
    flex-direction: column;

}

.cab_settings{
    padding: 2vw 0 0 10vw;
    display: flex;
    flex-direction: column;
}

.cab_full{
    display: flex;
    flex-direction: row;
    align-items: center;
}

p{
    padding: 0;
    margin: 0;
}

.cab_fio{
    font-family: MoncB;
    font-size: 2vw;
}

.cab_icon{
    margin-right: 0.5vw;
   height: auto;
    width: 1vw;
}

.eye{
    cursor: pointer;
}