.cab_profile{
    position: relative;
    padding: 0;
    margin: 0;
}

.cab_profile input{
    width: auto;
    min-width: 12vw;
    border: 0;
    padding: 0;
    background: inherit;
    font-family: Monc;
    font-size: 0.8vw;
}

.cab_avatar{
    background: gray;
    width: 15vw;
    height: 13vw;
    border-radius: 50%;
    margin-right: 3%;
}

.cab_info{
    width: 50%;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;

}

.cab_settings{
    padding: 2vw 0 0 10vw;
    display: flex;
    flex-direction: column;
}

.cab_full{
    align-items: center;
    cursor: pointer;
}

.cab_profile p{
    width: 12vw;
    padding: 0;
    margin: 0;
}

.cab_profile .cab_fio{
    font-family: MoncB;
    font-size: 1.5vw;
}

.cab_icon{
    margin-right: 0.5vw;
   height: auto;
    width: 1vw;
}

.cab_his{
    padding-top: 2vw;
    font-family: Monc;
    font-weight: bold;
}

.cab_history{
    border: 0.1vw solid gray;
    border-radius: 0.5vw;
    background: white;
    height: 20vw;
    padding: 0.5vw 0.5vw;
    text-align: center;
}

.row{
    display: flex;
    flex-direction: row;
}

.cab_io{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.cab_profile .cab_full #cab_file{
   width: 20vw;
}

.cab_profile .cab_full [value="Сохранить изменения"]{
    padding: 0;
    margin: 0;
    text-align: left;
}
.cab_profile .cab_full [value="Сохранить изменения"]:hover{
    color: black;
}